* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  letter-spacing: 1px;
}

img {
  display: inline-block;
}

.background {  
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.close {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.close>a>img {
  width: 20px;
  height: 20px;
}

.photo {
  margin: 30px auto;
  margin-bottom: 0;  
  text-align: center;
  width: 120px;
  height: 120px;
}

.photo>img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.name {
  text-align: center;
  margin: 20px auto;
}

.introduction {
  margin: 20px auto;
  text-align: center;
  width: 380px;
  color: #7B848F;
}

.carrer>img {
  width: 20px;
  height: 20px;
}

.location>img {
  width: 20px;
  height: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  margin: 50px auto;
  width: 360px;
  height: 80px;
  color: #7E8186;  
}

.info>section {
  display: inline-block;
  text-align: center;
}

.profile {
  animation: appear 1s linear 0s 1 normal;
}

@keyframes appear {
  0% {
    position: absolute;
    top: -2000px;
    right: 0;
    left: 0;
    z-index: 99999;

    margin: auto;
    width: 400px;
    height: 400px;
    background-color: white;
  }
  100% {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;

    width: 400px;
    height: 400px;
    margin: auto;
    background-color: white;    
  }
}

.profile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;

  margin: auto;
  width: 400px;
  height: 400px;  
  background-color: white;
}