* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.status-bg {
  width: 100%;
  height: 100%;
  filter: blur(5px);
}
.wrapper {
  width: 100%;
  height: 100%;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  width: 24%;
  height: 100%;
}
.overflow {
  float: left;
  width: 76%;
  height: 100%;
  overflow-x: hidden;
}
.article {
  width: 102%;
  height: 100%;
  background-color: #FFF;
  padding: auto 10%;
  
  overflow-y: scroll;
}
.status-bar {
  width: 18%;
  height: 80%;
  margin: auto;

  position: absolute;
}
.bg-photo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.author-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.author-photo {
  width: 100px;
  height: 100px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}
.author-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.author-name {
  margin-top: 5%;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}
.author-dec {  
  text-align: center;
  margin-top: 5%;
  color: white;
}
.items {
  margin-top: 15%;
}
.items-left {
  float: left;  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;

  width: 50%;
}
.items-right {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;

  width: 50%;
}
.item-img {
  width: 18%;
  height: 18%;
  max-width: 20%;
  max-height: 20%;
  border-radius: 50%;
}
.item-member {
  position: relative;
  padding: auto;
  width: 100%;
  height: 30%;
  margin-top: 10%;
  list-style: none;
}
.item-name {
  position: absolute;
  margin: 5% 5%;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.headline {
  position: relative;
  left: 10%;
  
  width: 80%;
  height: 35%;
  margin-bottom: 1%;
}
.blog-title {
  margin: 0.5%;
  
  font-weight: bolder;
}
.blog-date {
  margin-bottom: 1%;
  color: #bbb;
  font-size: smaller;
}
.blog-desc {
  margin-bottom: 0.6%;
  font-size: 14px;
  line-height: 150%;
}
.blog-link {
  color: rgb(0, 174, 255);
  font-size: smaller;
}
.blog-bg {
  margin-top: 1.2%;
  width: 100%;
  height: 58%;
  max-width: 100%;
  max-height: 80%;  
}
.blog-photo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.blog-list {
  position: relative;
  left: 10%;

  width: 80%;
  height: 60%;
}
.blog-name {
  padding-top: 1.8%;
  border-top: 1px solid #bbb;
  width: 100%;
  height: 30%;
  list-style: none;
}
.blog-name .photo {
  float: left;

  width: 18%;
  height: 70%;
  max-width: 30%;
  max-height: 80%;
}
.blog-name .bg {
  float: left;

  padding-left: 2%;
  width: 78%;
  height: 100%;
  max-width: 100%;
  max-height: 60%;
}
.bg .desc {
  margin-bottom: 2%;
}
@media screen 
  and (max-width: 1400px) {
  .aside {  
    width: 12%;
    height: 100%;
  }
  .author-photo {
    width: 50px;
    height: 50px;
  }
  .author-info,
  .author-name,
  .author-dec,
  .item-name {
    display: none;
  }
  .items {
    margin-top: 15%;
    clear: both;
  }
  .items-left {
    float: right;
    width: 60%;
  }
  .items-right {
    float: right;
    width: 60%;
  }
  .item-img {
    width: 30%;
    height: 30%;
    max-width: 50%;
    max-height: 50%;
  }
  .blog-photo {
    height: 90%;
  }
  .overflow {
    float: left;
    width: 88%;
    height: 100%;
    overflow-x: hidden;
  }

}
