* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
}
.status-bg {
  width: 98%;
  height: 98%;
  z-index: -1;
  filter: blur(5px);
}
.bg-photo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: 100%;
  float: left;
}

.article {
  background-color: #FFF;
  width: 76%;
  height: 100%;
  float: left;
  position: relative;
}

.statusbar {
  width: 18%;
  height: 80%;

  position: absolute;
  margin: auto;
}
.autor-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.autor-photo {
  width: 100px;
  height: 100px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}
.autor-info {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.autor-name {
  font-size: 20px;
  font-weight: bolder;
  color: white;

  margin-top: 5%;
}
.autor-dec {
  color: white;
  text-align: center;

  margin-top: 5%;
}
.items {
  margin-top: 15%;
  z-index: 1;

}
.items-left {
  float: left;
  width: 50%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}
.items-right {
  float: left;
  width: 50%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}
.item-img {
  width: 18%;
  height: 18%;
  max-width: 20%;
  max-height: 20%;
  border-radius: 50%;
}
.item-member {
  width: 100%;
  height: 30%;
  margin-top: 10%;
  position: relative;
  padding: auto;
}
.item-name {
  color: white;
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  margin: 5% 5%;
}